In [ ]:
"""Your task is to create a Python script that analyzes the records to calculate each of the following:


The total number of months included in the dataset.


The net total amount of Profit/Losses over the entire period.


The average of the changes in Profit/Losses over the entire period.


The greatest increase in profits (date and amount) over the entire period.


The greatest decrease in losses (date and amount) over the entire period.


Your resulting analysis should look similar to the following:
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)
Your final script should print the analysis to the terminal and export a text file with the results."""

In [88]:
#import pathlib and csv

from pathlib import Path
import csv
import pandas as pd

In [89]:
#set the file path
csvpath = Path('budget_data.csv')

In [90]:
#Put file into csv reader
profit_data = pd.read_csv(csvpath)

In [91]:
#intialize varialbes to hold months, profits and change in profits
month = []
profits = []
profit_change = []

In [105]:
#put csv file through csv reader
with open(csvpath, 'r')as csvfile:
    csvreader = pd.read_csv(csvfile)

In [98]:
profit_data.iloc[:,0:2]

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [101]:
profit_data.shape

(86, 2)

In [130]:
total_months = profit_data["Date"].count
print(total_months)

<bound method Series.count of 0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object>

AttributeError: 'function' object has no attribute 'Length'

<bound method DataFrame.count of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>